{
  "download": {
    "defaultPath": "",
    "threadCount": 4,
    "filePrefix": "",
    "fileSuffix": "",
    "onComplete": {
      "playSound": true,
      "autoOpenDir": false
    }
  },
  "ui": {
    "theme": 0,
    "windowGeometry": {
      "width": 934,
      "height": 679
    }
  }
}

